.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /components/layout/landing.js */
.background-landing {
  position: relative;
  background: url('./components/layout/landingBackground.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
}

.container-landing {
  margin-top: 200px;
  text-align: center;
  max-width: 100%;
}

.button-container-landing {
  margin: 50px;
}

/* /components/auth/Login.js */
.container-login {
  margin-top: 200px;
  text-align: center;
}

.text-login {
  color: white
}

/* /components/auth/Signup.js */
.container-signup {
  margin-top: 200px;
  text-align: center;
}
.text-signup {
  color: white
}

/* /components/dashboard/Dashboard.js*/